
#navbarSupportedContent .login-btn{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 10px !important;
    margin-left: 10px;
    color:#000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
#first-content .content{
    border-radius: 16px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
}

#secound-content .content
{
    width: 183px;
    height: 183px;
    padding-top: 30px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #A8A8A8;
    filter: drop-shadow(2px 2px 9px rgba(0, 0, 0, 0.25));
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#secound-content .content .title
{
    color: #858585;
    text-align: center;
    font-family: Cairo;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 130% */
    margin-top: 8px;
}


@media (max-width: 767.98px) {
    /* .top-wrap{
        display: none;
    } */
    #navbarSupportedContent .login-btn{
        margin-top: 15px;
        margin-left: 0;
    }   

    #navbarSupportedContent button{
        margin-top: 10px !important;
    }

    #first-content
    {
        position: absolute;
        top: -230px;
    }
    #secound-content{
        display: none;
    }
    .ftco-search
    {
        margin-top: -267px;
    }

    .login-section{
        margin-top: -200px;

    }
    .ftco-section
    {
        padding-top: 3em;
    }
    #home-content{
        position: absolute;
        top: -120px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #bread
    {
        font-size: 35px;
    } 
}

.ftco-section .ftco-content
{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 8px 10px 20px 1px rgba(152, 152, 152, 0.16);   
    padding: 30px;
    margin-bottom: 30px;


}
.ftco-section .ftco-content .content-title{

    color: #7F7F7F;
    text-align: right;
    font-family: Cairo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}

.ftco-section .ftco-content .content-icon
{
    border-radius: 17px;
    background: linear-gradient(180deg, #5DA0EE 0%, #0075FF 98.44%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 30px;
}

.ftco-section .ftco-content .content-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.7s;
}




.ftco-footer-widget .content-icon{
    border-radius: 17px;
    background: linear-gradient(180deg, #5DA0EE 0%, #0075FF 98.44%);
    padding-top: 10px;
    padding-bottom: 10px;
}


.ftco-footer-widget .ftco-footer-widget-title{
    color: #FFF;
text-align: center;
font-family: Cairo;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
}
.ftco-footer .ftco-footer-widget .footer-title h4{
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    
}

.ftco-search .login-form-area{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
    padding: 15px 0;
}

.ftco-search .login-form-area .login-form {
    background: #fff;
    padding: 55px 60px 50px 50px;
    box-shadow: 0px 10px 30px 0px rgba(13,12,13,0.2);
    min-width: 700px;
}
.login-form-area .login-form .login-heading {
    text-align: center;
}
.login-form-area .login-form .login-heading span {
    color: #140C40;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}

.login-form-area .login-form .login-heading p{
    color: #545454;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}

.login-form-area .login-form .input-box {
    padding-top: 10px;
    padding-bottom: 20px;
}

.login-form-area .login-form .input-box .single-input-fields label {
    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    color: #140C40;
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
}
.login-form-area .login-form .input-box .single-input-fields input {
    border: 1px solid #C9C9C9;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 25px;
    color: #000;
}
.single-input-fields .login-check
{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    overflow: hidden;
}

.login-form-area .login-form .input-box .single-input-fields input {
    border: 1px solid #C9C9C9;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 25px;
    color: #000;
}
.login-form-area .login-form .input-box .single-input-fields label {
    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    color: #140C40;
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
}
.login-check a {
    color: #00AEFF;
    font-size: 14px;
    font-weight: 400;
}
.login-form-area .login-form .login-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-footer .submit-btn3 {
    background: #00AEFF;
    height: 60px;
    padding: 10px 43px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px;
}
@media (max-width: 767.98px) {
.ftco-search  .login-form-area .login-form {
        padding: 40px 20px 20px 26px;
        min-width: 95%;
    }
.login-form-area .login-form .input-box {
        padding-top: 5px;
        padding-bottom: 10px;
    }   
}